%section
  #header
    %h1#header__name
      %span Daniel Kirsch
    %h2#header__profession Mathematician. Full Stack Web Developer.
  #contact
    %table
      %tr.web
        %td
          %i.fa.fa-globe
        %td
          = link_to 'http://danielkirs.ch', 'http://danielkirs.ch'
      %tr.mail
        %td
          %i.fa.fa-envelope
        %td
          = link_to 'mail@danielkirs.ch', 'mailto:mail@danielkirs.ch'
      %tr.phone
        %td
          %i.fa.fa-mobile
        %td
          +49 1511 5729370
      %tr.twitter
        %td
          %i.fa.fa-twitter
        %td
          = link_to "@kirel", "http://twitter.com/kirel"

%section#abstract
  %p
    <em>Data Scientist</em> with a
    math diploma from University of Münster and a background in
    <em>pattern recognition</em> and <em>machine learning</em>. Creator of
    #{link_to 'detexify', 'http://detexify.kirelabs.org'}.

%section#education
  %h3
    %span
      %i.fa.fa-book
      Education

  %table
    %tr
      %td.period 10/2003 - 11/2010
      %td.school
        University of Münster
        %aside.school-details
          Diploma in Mathematics / Computer Science &#8709; 1.5
          %br
          Thesis (1.3):
          = link_to '&raquo;Detexify: Recognition of hand-drawn LaTeX symbols&laquo;', 'thesis.pdf', relative: true
          implemented as a <em>REST</em>ful webservice written in <em>Haskell</em> and <em>Ruby</em> using <em>machine learning</em> techniques. Samples are stored in <em>CouchDB</em>. See #{link_to 'http://detexify.kirelabs.org', 'http://detexify.kirelabs.org'}.
    %tr
      %td.period 1993 - 2002
      %td.shool
        Gymnasium Laurentianum Warendorf
        %aside.school-details Abitur &#8709; 2.0

%section#experience
  %h3
    %span
      %i.fa.fa-clock-o
      Experience

  %table
    %tr
      %td.company
        Hitfox Group
        %small.company-details Incubator building companies and careers
        %aside.period 6/2014
      %td.employment
        Data Scientist
        %aside.employment-details
          %h4 Responsibilities & Achievements
          %ul
            %li Supporting a new <em>FinTech</em> venture by prototyping the backend architecture and implementing the <em>MVP</em> with <em>Rails</em>
            %li Prototyping of a <em>Big Data</em> architecture in a <em>Telco</em> context
    %tr
      %td.company
        Zweitag GmbH
        %small.company-details Ruby on Rails Consultancy
        %aside.period 8/2009 - 5/2014
      %td.employment
        Software Developer
        %aside.employment-details
          I worked on a variety of projects ranging from ecommerce sites and auction systems to business intelligence tools with data visualisations using <em>D3.js</em>. Zweitag applies behaviour driven development using <em>Rspec</em>, <em>Capybara</em> and <em>Jasmine</em>. As well as working on the <em>Rails</em> backend I am proficient with frontend technologies such as <em>Haml</em>, <em>SASS</em> and client-side <em>Javascript</em>-frameworks.
          %h4 Responsibilities & Achievements
          %ul
            %li Helped establish <em>TDD/BDD</em> as a company best-practice
            %li Introduced <em>Angular.js</em> as a core technology in Zweitag's projects
            %li (Co-)authored the software QA-process (<em>code review</em>)
            %li (Co-)authored and coordinated the corporate <em>mentorship</em> program
            %li Evaluated prospective interns and student workers and (co-)authored best-practices regarding the hiring process
            %li (Co-)authored training materials for interns and new hires
    %tr
      %td.company
        Visualization and Computer Graphics Research Group
        %small.company-details of the University of Münster
        %aside.period 10/2008 - 3/2009
      %td.employment
        Student worker: Voreen Volume Rendering Engine
        %aside.employment-details Worked on the medical imaging engine Voreen in <em>C++</em> and <em>OpenGL</em>.
    %tr
      %td.company
        Databases and Information Systems Group
        %small.company-details of the University of Münster
        %aside.period 11/2008 -  3/2009
      %td.employment
        Student worker: Project Learnr
        %aside.employment-details Built a <em>REST</em>ful webservice for managing assets for an E-Learning platform using <em>Ruby on Rails</em>.
    %tr
      %td.company
        Institute of Mathematical Statistics
        %small.company-details of the University of Münster
        %aside.period 10/2007 - 10/2008
      %td.employment
        Tutor in stochastics / probability theory
        %aside.employment-details Tutorials and correction of student homework.



%section#voluntary-experience
  %h3
    %span
      %i.fa.fa-users
      Voluntary experience

  %table
    %tr
      %td.organisation
        OK Lab Münster
        %small.organisation-details Code for Germany
        %aside.period 2/2014 - present
      %td.activity
        Lab Lead
        %aside.activity-details
          in a local community revolving around <em>civic tech</em> and <em>open data</em>. See
          = link_to 'http://codefor.de/muenster'
          for more details.
          %h4 Responsibilities
          %ul
            %li Organize local meetups
            %li Stay in touch with local government and journalists
            %li Guide the participants towards common goals
    %tr
      %td.organisation Monster on Rails
      %td.activity
        Speaker
        %aside.activity-details
          at the local Rails user group with talks on
          %ul
            %li Angular.js
            %li= link_to 'Functional Javascript', 'http://kirelabs.org/fun-js'
    %tr
      %td.organisation Open Source
      %td.activity
        Occasional contributor
        %aside.activity-details See #{link_to 'http://github.com/kirel', 'http://github.com/kirel'}.
    %tr
      %td.organisation
        LG Brillux Münster
        %aside.period 10/2011 - 5/2014
      %td.activity
        Track&Field Manager Young Athletics (Sportwart Nachwuchs)
        %aside.activity-details
          %h4 Responsibilities
          %ul
            %li Organisation and supervision of track&field competitions
            %li Creation and implementation of young athletics nurturing programs
            %li Uniting coaches of the LG by shaping the mutual vision
    %tr
      %td.organisation
        TuS Hiltrup 1930 e.V.
        %aside.period 8/2006 - 5/2014
      %td.activity
        Track&field coach
        %aside.activity-details
          Coaching young athletes between ages 12 to 19 especially in vertical jumps and <em>pole vault</em>. Earned several qualifications and final places in the German youth nationals.
    %tr
      %td.organisation
        FLVW
        %aside.period 8/2006
      %td.activity
        Track&field coaching license (C-Lizenz)
    %tr
      %td.organisation
        Heinrich-Tellen-Schule
        %small.organisation-details in Warendorf
        %aside.period 8/2002 - 6/2003
      %td.activity
        Community Service
        %aside.activity-details at a school for special education.

%section#interests
  %h3
    %span
      %i.fa.fa-flask
      Interests

  %ul
    %li= link_to 'Reading technical books', 'https://readmill.com/danielkirsch'
    %li Lean startup-methods
    %li Data-driven decision making
    %li Machine learning
    %li Open data / data-driven journalism
    %li Data visualization
    %li Functional programming
    %li Longboarding, wakeboarding, kitesurfing
    %li Pole vaulting

  %p
    See
    = link_to 'http://kirelabs.org', 'http://kirelabs.org'
    for personal projects.

%section#references
  %h3
    %span
      %i.fa.fa-comments
      References

  %dl
    %dt Julian Schneider, CEO and Founder at Zweitag GmbH (#{link_to 'http://www.zweitag.de/de/team', 'http://www.zweitag.de/de/team'})
    %dd was my boss at Zweitag GmbH.
  %dl
    %dt Peter Großkopf, Founder at Zweitag GmbH (#{link_to 'http://www.zweitag.de/de/team', 'http://www.zweitag.de/de/team'})
    %dd was my boss at Zweitag GmbH and organized Monster on Rails.
  %dl
    %dt
      Prof. Dr. Xiaoyi Jiang (#{link_to 'http://cvpr.uni-muenster.de/organisation/jiang.html', 'http://cvpr.uni-muenster.de/organisation/jiang.html'})
    %dd supervised my diploma thesis at University of Münster.

%section#footer
  This CV was hand-crafted by Daniel Kirsch using #{link_to 'Middleman', 'http://middlemanapp.com/'}, #{link_to 'Bourbon NEAT', 'http://neat.bourbon.io/'} and #{link_to 'Font Awesome', 'http://fortawesome.github.io/Font-Awesome/'}. It is hosted on
  %i.fa.fa-github
  pages. The color scheme is derived from #{link_to 'solarized', 'http://ethanschoonover.com/solarized'}.
  %br
  Download the #{link_to 'PDF', "daniel-kirsch-cv.pdf", relative: true}.
